* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(12, 154, 154);
}
button:hover {
  animation: change 5s linear 10;
}
@keyframes change {
  0% {
    background-color: teal;
  }
  50% {
    background-color: aqua;
  }
  100% {
    background-color: powderblue;
  }
}
.btn {
  display: inline-block;
  text-decoration: none;
}
.orange {
  padding-top: 40px;
  height: 200px;
  width: 200px;
}
.orange:hover {
  animation: rotate 5s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
img {
  padding-top: 10px;
  width: 300px;
  height: auto;
}
.play {
  border-radius: 10px;
}
.play:hover {
  animation: scale 2s ease-in-out infinite;
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
p:hover {
  animation: bigger 0.7 forwards;
}
@keyframes bigger {
  from {
    font-size: 16px;
  }
  to {
    font-size: 25px;
    transition: scale(1.2);
  }
}
